@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
@font-face {
    font-family: 'Bodoni';
    src: url('/Users/Marko/OneDrive/Desktop/Mademoiselle/css/Bodoni_font/Bodoni-Book.woff'), format('woff2'),
        url('/Users/Marko/OneDrive/Desktop/Mademoiselle/css/Bodoni_font/Bodoni-Book.woff2'), format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
//font-family: 'Lato', sans-serif;

$lato:'Lato', sans-serif;
$bodoni: 'Bodoni';